/* estilo para el contenedor del formulario */
  
.tarea-formulario{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* estilo para el input  */

.tarea-input{
  width : 350px;
  font-size: 18px;
  background-color: white;
  outline: none;
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid rgb(36, 102, 36);
}


/* estilo para el boton de agregar tarea*/

.tarea-btn{
  padding: 16px;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background-color: #00471b;
  color: #fff;
  text-transform: capitalize;
}

