.tarea-contenedor{
    width: 500px;
    min-width: 65px;
    background-color: #1b1b32;
    margin: 15px 0;
    padding: 8px 15px 8px 20px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    border-radius: 7px;
    cursor: pointer;
}
.tarea-contenedor:nth-child(3n + 1){
    background-color: #1b1b32;
}

.tarea-contenedor:nth-child(3n + 2){
    background-color: #2a2a40;
}

.tarea-contenedor:nth-child(3n + 3){
    background-color: #3b3b4f;
}
.tarea-texto{
    width: 100%;
    height: 100%;
    font-size: 20px ;
    display: flex;
    align-items: center;
    overflow-wrap: anywhere;
}


.tarea-icono{
    display: flex;
    width: 30px;
    height: 30px;
    margin: 5px 0 5px 10px ;
    align-items: center;
}

.tarea-contenedor.completada{
    background-color: blueviolet;
    text-decoration: line-through;
}