* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  color: white;
  background-color: #1b1b32;
  font-family: Lato, sans-serif;
  margin-top: 40px;
}
h1{
  color:#1b1b32;
  font-size: 25px;
  font-family:sans-serif;
  text-align: center;
  margin: 20px 0;
}

.aplicacion-tareas{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tareas-lista-princip{
  width: 600px;
  min-height: 500px;
  background-color: rgb(233, 233, 230);
  padding: 25px;
  margin: 10px;
  justify-content: center;
  border-radius: 26px;
}